<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/Tesis</property>
    <property name="hibernate.connection.username">henry</property>
    <property name="hibernate.connection.password">0000</property>
    
    <property name="connection.pool_size">1</property>
    <property name="hbm2ddl.auto">update</property>
    <property name="hibernate.show_sql">true</property>
    <property name="format_sql">true</property>
    <property name="use_sql_comments">true</property>
    
    <mapping resource="com/pribantsa/pojo/Objetivo.hbm.xml"/>
    <mapping resource="com/pribantsa/pojo/TipoDescuento.hbm.xml"/>
    <mapping resource="com/pribantsa/pojo/Vacacion.hbm.xml"/>
    <mapping resource="com/pribantsa/pojo/Planilla.hbm.xml"/>
    <mapping resource="com/pribantsa/pojo/Objdepartamento.hbm.xml"/>
    <mapping resource="com/pribantsa/pojo/Departamento.hbm.xml"/>
    <mapping resource="com/pribantsa/pojo/PuestoHistorico.hbm.xml"/>
    <mapping resource="com/pribantsa/pojo/Sancion.hbm.xml"/>
    <mapping resource="com/pribantsa/pojo/Capacitacion.hbm.xml"/>
    <mapping resource="com/pribantsa/pojo/Reconocimiento.hbm.xml"/>
    <mapping resource="com/pribantsa/pojo/Contrato.hbm.xml"/>
    <mapping resource="com/pribantsa/pojo/TipoBono.hbm.xml"/>
    <mapping resource="com/pribantsa/pojo/Permiso.hbm.xml"/>
    <mapping resource="com/pribantsa/pojo/Correo.hbm.xml"/>
    <mapping resource="com/pribantsa/pojo/PuestoTrabajo.hbm.xml"/>
    <mapping resource="com/pribantsa/pojo/Educacion.hbm.xml"/>
    <mapping resource="com/pribantsa/pojo/Evaluacion.hbm.xml"/>
    <mapping resource="com/pribantsa/pojo/Empleado.hbm.xml"/>
    <mapping resource="com/pribantsa/pojo/Criterio.hbm.xml"/>
    <mapping resource="com/pribantsa/pojo/Bono.hbm.xml"/>
    <mapping resource="com/pribantsa/pojo/ExpLaboral.hbm.xml"/>
    <mapping resource="com/pribantsa/pojo/Telefono.hbm.xml"/>
    <mapping resource="com/pribantsa/pojo/Descuento.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
